.container {
  margin-inline: auto;
  width: min(90%, 120rem);
}

.section {
  --padding-top-bottom: 10rem;
  --padding-left-right: 2rem;
  min-height: 100vh;
  min-height: 100svh;
  padding: var(--padding-top-bottom) var(--padding-left-right);

  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;

  &--hero {
    min-height: calc(100svh - 6rem);

    @include respond(tab-land) {
      img {
        height: 40rem;
      }
    }
  }

  &--contact {
    min-height: calc(100svh - 15rem);
  }
}
