.container {
  margin-inline: auto;
  width: min(90%, 120rem);
}

.section {
  --padding-top-bottom: 10rem;
  --padding-left-right: 2rem;
  min-height: 100vh;
  min-height: 100svh;
  padding: var(--padding-top-bottom) var(--padding-left-right);

  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;

  &--hero {
    min-height: calc(100svh - 6rem);
  }

  &--contact {
    min-height: calc(100svh - 15rem);
  }

  @include respond(tab-land) {
    padding: 7.5rem 2rem;
  }

  @include respond(tab-port) {
    padding: 5rem 2rem;
  }

  @include respond(phone) {
    padding: 2.5rem 5rem;
  }

  @include respond(sm-phone) {
    padding: 1rem 2rem;
  }
}
