.navbar {
  height: 6rem;
  width: 80rem;
  border-bottom: 1px solid #e6e6e6;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 2rem;

  &__logo {
    span {
      font-weight: 700;
    }
  }

  &__links {
    li {
      display: inline-block;
      margin-right: 2rem;
    }
  }

  // &__links:visited {
  //   color: $color-black;
  // }
}
