.article-home,
.article-story,
.article-portfolio,
.article-contact {
  padding: 10rem 20rem;

  @include respond(tab-land) {
    padding: 5rem 10rem;
  }

  @include respond(phone) {
    padding: 2.5rem 5rem;
  }
}

.article-home {
  min-height: calc(100vh - 8rem);
}

.article-story,
.article-portfolio,
.article-contact {
  min-height: 100vh;
}
