.article-home,
.article-story,
.article-portfolio,
.article-contact {
  min-height: 100vh;
  padding: 10rem 20rem;

  @include respond(tab-land) {
    padding: 5rem 10rem;
  }

  @include respond(phone) {
    padding: 2.5rem 5rem;
  }
}

.article-home {
  background-color: $color-primary-400;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  & > * {
    display: grid;
    place-items: center;
  }

  &__text {
    grid-column: 1 / span 1;

    @include respond(tab-port) {
      grid-row: 2 / span 1;
      grid-column: 1 / -1;
    }

    & > * {
      padding: 3rem;

      @include respond(tab-port) {
        padding: 4rem;
      }
    }
  }

  &__image {
    grid-column: 2 / span 1;

    @include respond(tab-port) {
      height: 35vh;
      grid-row: 1 / span 1;
      grid-column: 1 / -1;

      padding-top: 4rem;
      padding-bottom: 3rem;
    }
  }

  @include respond(phone) {
    padding-top: 7.5rem;
  }
}

.article-story {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;

  @include respond(tab-port) {
    grid-template-columns: repeat(1, 1fr);
  }

  &__title {
    grid-row: 1 / span 1;
    grid-column: 1 / -1;

    text-align: center;
  }

  &__image {
    display: grid;
    place-items: center;
  }

  &__text {
    @include respond(tab-port) {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.article-portfolio {
  background-color: $color-primary-400;

  display: grid;
  grid-gap: 4rem;

  &__title {
    grid-row: 1 / span 1;
    grid-column: 1 / -1;

    text-align: center;
    color: $color-white;
  }

  &__grid {
    grid-row: 2 / span 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;

    @include respond(tab-land) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @include respond(tab-port) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
}

.article-contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;

  @include respond(tab-land) {
    padding: 5rem 10rem;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
  }

  @include respond(phone) {
    padding: 2.5rem 5rem;
  }

  & > * {
    display: grid;
    place-content: center;
  }

  &__image {
    grid-column: 1 / span 1;
  }

  &__details {
    grid-column: 2 / span 1;

    background-color: $color-white-100;
    border-radius: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 3rem;
    // min-height: 60vh;

    display: grid;
    row-gap: 2rem;

    h1 {
      text-align: center;
    }

    a {
      color: $color-black;

      &:focus,
      &:visited {
        color: $color-black;
      }
    }

    h3 {
      justify-content: start;
    }

    @include respond(tab-port) {
      width: 60vw;

      grid-column: 1 / span 1;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 3rem;
    }

    @include respond(phone) {
      width: 70vw;

      grid-template-columns: repeat(1, 1fr);
      grid-gap: 3rem;
    }
  }
}
