.article-home {
  background-color: $color-primary-400;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  & > * {
    display: grid;
    place-items: center;
  }

  &__text {
    grid-column: 1 / span 1;

    @include respond(tab-port) {
      grid-row: 2 / span 1;
      grid-column: 1 / -1;
    }

    & > * {
      padding: 3rem;

      @include respond(tab-port) {
        padding: 4rem;
      }
    }
  }

  &__image {
    grid-column: 2 / span 1;

    @include respond(tab-port) {
      height: 35vh;
      grid-row: 1 / span 1;
      grid-column: 1 / -1;

      padding-top: 4rem;
      padding-bottom: 3rem;
    }
  }

  @include respond(phone) {
    padding-top: 7.5rem;
  }
}
