.article-story {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;

  @include respond(tab-port) {
    grid-template-columns: repeat(1, 1fr);
  }

  &__title {
    grid-row: 1 / span 1;
    grid-column: 1 / -1;

    text-align: center;
  }

  &__image {
    display: grid;
    place-items: center;
  }

  &__text {
    @include respond(tab-port) {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
