.section-work {
  // height: 85vh;

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));

    @include respond(big-desktop) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
}
