.section-work {
  &__title {
    padding: 1.25rem;
    width: 100%;
    border-bottom: 4px solid rgba(0, 0, 0, 0.5);

    font-size: 3rem;
    line-height: 1;
    font-weight: bold;
  }

  &__grid {
    width: 75%;
    margin: 2.5rem;

    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.25rem;

    @include respond(big-desktop) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

  &__sidebar {
    width: 25%;
  }
}
