.article-contact {
  &__details {
    margin-inline: auto;
    width: min(80%, 80rem);
    border-radius: 0.5rem;
    overflow: hidden;

    display: grid;

    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;

    & > * {
      &:hover {
        border: solid 2px var(--clr-primary-500);
      }
    }

    a {
      color: var(--clr-primary-300);

      &:visited {
        color: black;
      }
    }

    & > * {
      --padding-top-bottom: 4rem;
      --padding-left-right: 4rem;
      background-color: var(--clr-white-0);
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 0.5rem;
      padding: var(--padding-top-bottom) var(--padding-left-right);

      text-align: center;
    }
  }

  &__icons {
    font-size: 15rem;
  }
}
