.btn {
  cursor: pointer;
  border: none;
  border-radius: 50px;
  padding: 1.5rem 3rem;

  font-size: 1.5rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-weight: 500;

  a {
    color: $color-black;
  }

  &--cta {
    margin-left: 2rem;
  }
}
