.label {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  margin-right: 1rem;
  margin-bottom: 1rem;

  color: $color-white;
  font-weight: 700;

  // @include respond(tab-land) {
  //   padding: 0.5rem;
  //   margin-right: 1rem;
  // }
}

.bg {
  &--aqua {
    background-color: aqua;
  }
  &--black {
    background-color: black;
  }
  &--darkgrey {
    background-color: darkgrey;
  }
  &--hotpink {
    background-color: hotpink;
  }
  &--dodgerblue {
    background-color: dodgerblue;
  }
  &--deepskyblue {
    background-color: deepskyblue;
  }
  &--orangered {
    background-color: orangered;
  }
  &--steelblue {
    background-color: steelblue;
  }
  &--green {
    background-color: green;
  }
  &--forestgreen {
    background-color: forestgreen;
  }
  &--midnightblue {
    background-color: midnightblue;
  }
  &--limegreen {
    background-color: limegreen;
  }
  &--yellow {
    background-color: yellow;
  }
  &--crimson {
    background-color: crimson;
  }
  &--yellowgreen {
    background-color: yellowgreen;
  }
}
