.label {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  margin-right: 1rem;
  margin-bottom: 1rem;

  color: $clr-white;
  font-weight: 700;

  // @include respond(tab-land) {
  //   padding: 0.5rem;
  //   margin-right: 1rem;
  // }
}

.bg {
  &--aqua {
    background-color: aqua;
  }
  &--black {
    background-color: black;
  }

  &--blue {
    background-color: blue;
  }

  &--crimson {
    background-color: crimson;
  }

  &--darkgrey {
    background-color: darkgrey;
  }

  &--darkslategrey {
    background-color: darkslategrey;
  }

  &--deeppink {
    background-color: deeppink;
  }

  &--dodgerblue {
    background-color: dodgerblue;
  }

  &--deepskyblue {
    background-color: deepskyblue;
  }

  &--firebrick {
    background-color: firebrick;
  }

  &--green {
    background-color: green;
  }

  &--hotpink {
    background-color: hotpink;
  }

  &--orange {
    background-color: orange;
  }

  &--orangered {
    background-color: orangered;
  }

  &--steelblue {
    background-color: steelblue;
  }

  &--forestgreen {
    background-color: forestgreen;
  }

  &--mediumseagreen {
    background-color: mediumseagreen;
  }

  &--midnightblue {
    background-color: midnightblue;
  }

  &--limegreen {
    background-color: limegreen;
  }

  &--rebeccapurple {
    background-color: rebeccapurple;
  }

  &--yellow {
    background-color: yellow;
  }

  &--yellowgreen {
    background-color: yellowgreen;
  }
}
