.project {
  background-color: var(--clr-white-0);
  border-radius: 0.5rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  &__image {
    object-fit: cover;
  }

  &__label {
    min-height: min(8rem, 10rem);

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
  }

  &__description {
    min-height: min(8rem, 12rem);
  }

  &__button {
    background-color: var(--clr-primary-500);

    width: 10rem;
    border-radius: 1rem;
    margin-inline: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--clr-white-0);

    &:hover {
      background-color: var(--clr-primary-400);
    }
  }
}
