.container {
  margin: 0;
  max-width: 100%;
  width: 100%;
  min-height: 50rem;

  @include respond(desktop) {
    max-width: 120rem;
    margin: 8rem auto;
  }
}

.section {
  padding: 1.5rem;
  min-width: 100%;

  @include respond(desktop) {
    padding: 4rem;
  }
}
