//* COLORS

//* --- Primary
$color-primary-100: #0c2d48; // Downriver Blue
$color-primary-200: #145da0; // Fun Blue
$color-primary-300: #2e8bc0; // Curious Blue
$color-primary-400: #b1d4e0; // Ziggurat Blue

//* --- Secondary
$color-secondary: #c0632e; // Tuscany Yellow

//* --- White To Black
$color-white: hsl(0, 0%, 100%); // ffffff | White
$color-white-50: hsl(0, 0%, 95%); // f2f2f2 | Concrete White
$color-white-100: hsl(0, 0%, 90%); // e6e6e6 | Mercury White
$color-white-200: hsl(0, 0%, 80%); // cccccc | Silver White
$color-grey-300: hsl(0, 0%, 70%); // b3b3b3 | Nobel Grey
$color-grey-400: hsl(0, 0%, 60%); // 999999 | Dusty Grey
$color-grey-500: hsl(0, 0%, 50%); // 808080 | Grey
$color-grey-600: hsl(0, 0%, 40%); // 666666 | Dove Grey
$color-grey-700: hsl(0, 0%, 30%); // 4d4d4d | Tundora Grey
$color-black-800: hsl(0, 0%, 20%); // 333333 | Mine Shaft Grey
$color-black-900: hsl(0, 0%, 10%); // 1a1a1a | Cod Grey
$color-black: hsl(0, 0%, 0%); // 000000 | Black

//* FONT

$default-font-size: 1.6rem;
$max-ch-width: 70ch;

//* --- Font Family
$font-primary: "Poppins", sans-serif;
$font-secondary: "Raleway", sans-serif;
$font-third: "Montserrat", serif;
$ff-body: $font-primary;
$ff-heading: $font-primary;

//* --- Font Size
$fs-300: 1.3rem;
$fs-400: 1.4rem;
$fs-500: 1.5rem;
$fs-600: 1.6rem;
$fs-700: 3rem;
$fs-800: 3.5rem;
$fs-900: 4rem;

$fs-body: $fs-400;
$fs-primary-heading: $fs-800;
$fs-secondary-heading: $fs-700;
$fs-nav: $fs-500;
$fs-button: $fs-300;

//* --- Font Weight
$fw-regular: 400;
$fw-semi-bold: 500;
$fw-bold: 700;

//* GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//* RESPONSIVE BREAKPOINTS

$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px
