/*
0 - 600px:    Phone
600 - 900px:  Tablet Portrait
900 - 1200px:  Tablet Landscape
(1200 - 1800) is where our normal styles apply
1800px+:       Big Desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + Typography > general layout + grid > page layout > components

1em = 16px
*/
/* Box sizing rules & remove default margin/padding */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Defines what 1rem is & set core root defaults */
html {
  font-size: 62.5%;
}
html:focus-within {
  scroll-behavior: smooth;
}

/* Set box-sizing & background color */
body {
  box-sizing: border-box;
  background-color: hsl(0deg, 0%, 95%);
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

body {
  color: hsl(0deg, 0%, 10%);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  text-rendering: optimizeSpeed;
}

.heading-home {
  margin-bottom: 3.5rem;
  max-width: 14ch;
  color: hsl(0deg, 0%, 100%);
  font-family: "Raleway", sans-serif;
  font-size: 5.5rem;
  font-weight: 900;
  letter-spacing: 2px;
  line-height: 1.3;
  text-transform: uppercase;
}
.heading-home span {
  color: #2e8bc0;
}
@media (max-width: 75em) {
  .heading-home {
    font-size: 4.5rem;
  }
}
@media (max-width: 56.25em) {
  .heading-home {
    margin-left: auto;
    margin-right: auto;
    font-size: 3.75rem;
  }
}

.heading-one {
  color: #c0632e;
  font-family: "Montserrat", serif;
  font-size: 3.5rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.heading-one::after {
  content: "";
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10rem;
  padding-top: 1rem;
  border-bottom: 4px solid #c0632e;
}

.heading-two {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.heading-three {
  color: #145da0;
  font-family: "Raleway", sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 800;
}

.paragraph {
  max-width: 45ch;
  color: #0c2d48;
  font-size: 2rem;
  line-height: 2;
  text-align: justify;
}
.paragraph:not(:last-child) {
  margin-bottom: 2rem;
}
@media (max-width: 75em) {
  .paragraph {
    font-size: 1.75rem;
  }
}
@media (max-width: 37.5em) {
  .paragraph {
    font-size: 1.5rem;
  }
}

.align-items {
  display: flex;
  align-items: center;
  justify-content: center;
}
.align-items__arrow {
  margin-left: 1rem;
}
.align-items__icon {
  margin-right: 0.75rem;
}

.u-bg-primary-400 {
  background-color: #b1d4e0;
}

.u-center-text {
  text-align: center !important;
}

.u-fs-300 {
  font-size: 1.3rem;
}

.u-fs-400 {
  font-size: 1.4rem;
}

.u-fs-500 {
  font-size: 1.5rem;
}

.u-fs-600 {
  font-size: 1.6rem;
}

.u-fs-700 {
  font-size: 3rem;
}

.u-fs-800 {
  font-size: 3.5rem;
}

.u-fs-primary-heading {
  font-size: 3.5rem;
}

.u-fs-secondary-heading {
  font-size: 3rem;
}

.u-fw-bold {
  font-weight: 700;
}

.u-fw-semi-bold {
  font-weight: 500;
}

.u-fw-regular {
  font-weight: 400;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}
@media (max-width: 56.25em) {
  .u-margin-bottom-medium {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}
@media (max-width: 56.25em) {
  .u-margin-bottom-big {
    margin-bottom: 5rem !important;
  }
}

.u-margin-top-medium {
  margin-top: 6rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.u-text-primary-400 {
  color: #b1d4e0;
}

.u-text-color-white {
  color: hsl(0deg, 0%, 100%);
}

.u-text-color-black {
  color: hsl(0deg, 0%, 0%);
}

.btn {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 1.5rem 3rem;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
@media (max-width: 56.25em) {
  .btn {
    margin-left: auto;
    margin-right: auto;
  }
}
.btn a {
  color: #145da0;
}
.btn--cta {
  margin-top: 1.5rem;
}
.btn--inverse {
  background-color: #2e8bc0;
}
.btn--inverse a {
  color: hsl(0deg, 0%, 100%);
}

.scrollButton {
  border: none;
  background-color: transparent;
  height: 6rem;
  width: 6rem;
  cursor: pointer;
  position: fixed;
  right: 4rem;
  bottom: 4rem;
  z-index: 1;
  font-size: 3rem;
  color: #0c2d48;
}
.scrollButton__icon {
  font-size: 8rem;
}

.label {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  color: hsl(0deg, 0%, 100%);
  font-weight: 700;
}

.bg--aqua {
  background-color: aqua;
}
.bg--black {
  background-color: black;
}
.bg--blue {
  background-color: blue;
}
.bg--crimson {
  background-color: crimson;
}
.bg--darkgrey {
  background-color: darkgrey;
}
.bg--dodgerblue {
  background-color: dodgerblue;
}
.bg--deepskyblue {
  background-color: deepskyblue;
}
.bg--green {
  background-color: green;
}
.bg--hotpink {
  background-color: hotpink;
}
.bg--orange {
  background-color: orange;
}
.bg--orangered {
  background-color: orangered;
}
.bg--steelblue {
  background-color: steelblue;
}
.bg--forestgreen {
  background-color: forestgreen;
}
.bg--midnightblue {
  background-color: midnightblue;
}
.bg--limegreen {
  background-color: limegreen;
}
.bg--rebeccapurple {
  background-color: rebeccapurple;
}
.bg--yellow {
  background-color: yellow;
}
.bg--yellowgreen {
  background-color: yellowgreen;
}

.categoryList {
  width: 100%;
  padding: 1.25rem;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: 1.5rem;
}
.categoryList__heading {
  background-color: rgb(31, 41, 55);
  padding: 0.75rem;
  border-radius: 0.25rem;
  font-size: 1.5rem;
  line-height: 2rem;
  color: rgb(255, 255, 255);
}
.categoryList__divider {
  border-top-width: 1px;
  border-bottom-width: 0px;
  border-color: rgb(209, 213, 219);
}
.categoryList li {
  padding: 1rem;
  cursor: pointer;
}
.categoryList li:hover {
  background-color: rgb(249, 250, 251);
}

.form {
  border-radius: 0.5rem;
  background-color: hsl(0deg, 0%, 90%);
  padding: 2rem;
  margin: 0 auto;
}
.form input[type=text],
.form select,
.form textarea {
  width: 100%;
  padding: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  box-sizing: border-box;
  margin-top: 0.6rem;
  margin-bottom: 1.6rem;
  resize: vertical;
}
.form input[type=submit] {
  background-color: #2e8bc0;
  color: hsl(0deg, 0%, 100%);
  padding: 1.2rem 2rem;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
}
.form input[type=submit]:hover {
  transform: translateY(-0.25rem) scale(1.03);
}

.post {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 1.5rem 2.5rem;
  width: 100%;
  min-width: 100%;
}
@media (max-width: 56.25em) {
  .post {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
}
@media (max-width: 37.5em) {
  .post {
    width: 100%;
  }
}
.post__title {
  text-align: center;
  padding-top: 1rem;
}
.post__image {
  border: 1px hsl(0deg, 0%, 0%) solid;
  border-radius: 0.25rem;
  margin-bottom: 4rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.post__label {
  min-height: 7rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.post__description {
  margin-top: 2rem;
  min-height: 5rem;
}
.post__description a {
  font-size: 2rem;
  font-weight: bold;
}
.post__description p {
  margin-top: 0.5rem;
  color: #4b5963;
}
.post__extra {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.post__button {
  margin-right: 2rem;
  background-color: #145da0;
  border-radius: 1rem;
  width: 10rem;
  color: white;
}
.post__button:hover {
  background-color: #2e8bc0;
}
.footer {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  background-color: hsl(0deg, 0%, 95%);
  border-bottom: 1px solid hsl(0deg, 0%, 90%);
  height: 6rem;
  padding: 1rem 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
@media (max-width: 75em) {
  .navbar {
    font-size: 1.75rem;
  }
}
@media (max-width: 56.25em) {
  .navbar {
    position: relative;
  }
}
.navbar a {
  color: #0c2d48;
}
.navbar__logo {
  width: 30rem;
  justify-self: start;
}
.navbar__logo span {
  color: #2e8bc0;
  font-weight: 700;
}
@media (max-width: 56.25em) {
  .navbar__logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }
}
.navbar__logo:focus, .navbar__logo:visited {
  color: hsl(0deg, 0%, 0%);
}
.navbar__menu {
  width: 70vw;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 1rem;
  justify-content: end;
}
@media (max-width: 56.25em) {
  .navbar__menu {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: absolute;
    top: 6rem;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }
}
@media (max-width: 37.5em) {
  .navbar__menu {
    height: 42.5vh;
  }
}
@media (max-width: 56.25em) {
  .navbar__menu.active {
    background: hsl(0deg, 0%, 95%);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
}
.navbar__links {
  text-decoration: none;
  padding: 0.5rem 1rem;
}
@media (max-width: 56.25em) {
  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
}
.navbar__links:focus, .navbar__links:visited {
  color: hsl(0deg, 0%, 0%);
}
.navbar__links:hover {
  background-color: #2e8bc0;
  border-radius: 4px;
  color: hsl(0deg, 0%, 100%);
  transition: all 0.2s ease-out;
}
@media (max-width: 56.25em) {
  .navbar__links:hover {
    border-radius: 0;
  }
}
.navbar__menu-icon {
  display: none;
}
@media (max-width: 56.25em) {
  .navbar__menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
}

.article-home,
.article-story,
.article-portfolio,
.article-contact {
  min-height: 100vh;
  padding: 10rem 20rem;
}
@media (max-width: 75em) {
  .article-home,
.article-story,
.article-portfolio,
.article-contact {
    padding: 5rem 10rem;
  }
}
@media (max-width: 37.5em) {
  .article-home,
.article-story,
.article-portfolio,
.article-contact {
    padding: 2.5rem 5rem;
  }
}

.article-home {
  background-color: #b1d4e0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.article-home > * {
  display: grid;
  place-items: center;
}
.article-home__text {
  grid-column: 1/span 1;
}
@media (max-width: 56.25em) {
  .article-home__text {
    grid-row: 2/span 1;
    grid-column: 1/-1;
  }
}
.article-home__text > * {
  padding: 3rem;
}
@media (max-width: 56.25em) {
  .article-home__text > * {
    padding: 4rem;
  }
}
.article-home__image {
  grid-column: 2/span 1;
}
@media (max-width: 56.25em) {
  .article-home__image {
    height: 35vh;
    grid-row: 1/span 1;
    grid-column: 1/-1;
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
}
@media (max-width: 37.5em) {
  .article-home {
    padding-top: 7.5rem;
  }
}

.article-story {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
}
@media (max-width: 56.25em) {
  .article-story {
    grid-template-columns: repeat(1, 1fr);
  }
}
.article-story__title {
  grid-row: 1/span 1;
  grid-column: 1/-1;
  text-align: center;
}
.article-story__image {
  display: grid;
  place-items: center;
}
@media (max-width: 56.25em) {
  .article-story__text {
    margin-left: auto;
    margin-right: auto;
  }
}

.article-portfolio {
  background-color: #b1d4e0;
  display: grid;
  grid-gap: 4rem;
}
.article-portfolio__title {
  grid-row: 1/span 1;
  grid-column: 1/-1;
  text-align: center;
  color: hsl(0deg, 0%, 100%);
}
.article-portfolio__grid {
  grid-row: 2/span 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
@media (max-width: 75em) {
  .article-portfolio__grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (max-width: 56.25em) {
  .article-portfolio__grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.article-contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
@media (max-width: 75em) {
  .article-contact {
    padding: 5rem 10rem;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
  }
}
@media (max-width: 37.5em) {
  .article-contact {
    padding: 2.5rem 5rem;
  }
}
.article-contact > * {
  display: grid;
  place-content: center;
}
.article-contact__image {
  grid-column: 1/span 1;
}
.article-contact__details {
  grid-column: 2/span 1;
  background-color: hsl(0deg, 0%, 90%);
  border-radius: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 3rem;
  display: grid;
  row-gap: 2rem;
}
.article-contact__details h1 {
  text-align: center;
}
.article-contact__details a {
  color: hsl(0deg, 0%, 0%);
}
.article-contact__details a:focus, .article-contact__details a:visited {
  color: hsl(0deg, 0%, 0%);
}
.article-contact__details h3 {
  justify-content: start;
}
@media (max-width: 56.25em) {
  .article-contact__details {
    width: 60vw;
    grid-column: 1/span 1;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3rem;
  }
}
@media (max-width: 37.5em) {
  .article-contact__details {
    width: 70vw;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3rem;
  }
}/*# sourceMappingURL=main.css.map */